.btn {
  border-radius: 50px;
  font-family: $bold-f;
  display: flex;
  align-items: center;
  height: 60px;

  &__arrow {
    margin-left: 21px;
  }
  &_light {
    padding: 0 30px;
    background: $color-white;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    transition: color 0.3s linear;
    font-size: 16px;
    &:hover {
      color: $color-purple;
    }
  }

  &_purple {
    font-size: 18px;
    padding: 0 37px;
    background: $color-purple;
    color: $color-white;
    border: 1px solid $color-purple;
    transition: all 0.3s linear;
    &:hover {
      color: $color-purple;
      background: $color-white;
    }
  }

  &_modal {
    padding: 0 63px;
    align-self: flex-end;
  }
}