.footer {
  @include mobile {
    background: rgba(156,105,226, 0.1);
    padding: 32px 0 24px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    margin-bottom: 65px;
    @include mobile {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__address {
    font-style: initial;
    a {
      color: $color-bold;
      transition: color 0.3s linear;
    }
  }
  &__contacts {
    font-family: $medium-f;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: $color-bold;
    transition: color 0.3s linear;

    @media (hover: hover) {
      &:hover {
        color: $color-purple;
        a {
          color: $color-purple;
        }
      }
    }
  }

  &__menu {
    @include mobile {
      display: none;
    }
  }
  &__mail {
    margin-top: 20px;
  }
  &__menu-title {
    font-family: $bold-f;
    font-size: 16px;
    line-height: 26px;
    color: $color-bold;
    margin-bottom: 30px;

    @include mobile {
      display: none;
    }
  }
  &__item {
    line-height: 40px;
  }
  &__social-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      padding-top: 24px;
    }
  }
  &__social-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #dedee5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 20px;
    transition: background 0.3s linear;
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }

    @media (hover: hover) {
      &:hover {
        background: $color-purple;
      }
    }
  }
  &__copyright {
    padding: 118px 0 48px;
    width: 30%;

    @include mobile {
      display: none;
    }
  }
}