.link {
  display: flex;
  align-items: center;
  @media (hover: hover) {
    &:hover {
      .link__text {
        color: $color-purple;
      }
    }
  }
  //&:hover {
  //  .link__text {
  //    color: $color-purple;
  //  }
  //}
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: $color-bold;
    font-family: $bold-f;
    transition: color 0.3s linear;
  }

  &__img {
    margin-left: 20px;
  }
}