.modal {
  position: relative;
  z-index: 10;
  display: none;
  opacity: 0;

  &__block {
    width: 80%;
    border-radius: 50px;
    padding: 30px;
    background-image: repeating-linear-gradient(-60deg, #fff, #fff 19px, #68C9B8 20px, #68C9BA 30px, #fff 31px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    background: $color-white;
    border-radius: 40px;
    padding: 34px 34px 38px 34px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $bold-f;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #212353;
    margin-bottom: 25px;
  }
}