.slider {
  &__item {
    background: url("../../public/images/header/header-slider.png") no-repeat center center;
    background-size: cover;
    padding: 80px 104px;
  }
  &__content {
    width: 60%;
  }
  &__title {
    font-family: $bold-f;
    font-size: 72px;
    line-height: 79px;
    color: $color-bold;
  }
  &__description {
    font-family: $medium-f;
    margin: 30px 0 18px;
    font-size: 18px;
    line-height: 29px;
    color: $color-light;
    width: 70%;
  }

  .slick-dots {
    button {
      margin-right: 3px;
      width: initial;
      height: initial;
      padding: 0;
      &:before {
        opacity: 1;
        font-size: 8px;
        color: rgba(156, 105, 226, 0.2);
      }
    }

    li {
      margin: 0 8px;
      width: initial;
      height: initial;
    }
  }
  .slick-active {
    button {
      &:before {
        opacity: 1 !important;
        color: $color-purple !important;
      }
    }
  }

  .slick-list {
    border-radius: 50px;
  }
}